<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hello World</title>
  <link rel="stylesheet" href="..\static\css\styles.css">
</head>
<body>
  <button id="minecraft_connected">Minecraft connected</button>
  <button id="minecraft_done">Minecraft done</button>
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
  <script src="..\static\js\script.js"></script>
</body>
</html>